:root {
	--blue-emphasis: rgb(47, 47, 105);
	--blue-hover: rgb(79, 79, 143);
	--blue-light: rgb(221, 221, 233);
	--blue-light2: rgb(195, 195, 221);
	--yellow-highlight: rgba(243, 242, 158, 0.966);
	--green-highlight: rgba(79, 182, 79, 0.5);
	--red-highlight: rgba(221, 64, 64, 0.5);
}
