html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 3.5em;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5em;
	line-height: 3.5em;
	background-color: var(--blue-light);
}

#automata-icon,
#github-icon {
	margin-left: 1em;
	margin-right: 0.75em;
	width: 27px;
}

#github-icon {
	margin-right: 0.15em;
}

nav {
	background-color: var(--blue-emphasis);
	color: white;
}

#program-container {
	padding: 2em;
}

#view-github {
	padding-right: 1em;
}

#editor {
	width: 100%;
	height: 40vh;
	font-size: 1rem;
	border: 1px solid var(--blue-emphasis);
}

#run,
#prev,
#next {
	background-color: var(--blue-emphasis);
	border: var(--blue-emphasis);
}

#run:hover,
#prev:hover,
#next:hover {
	background-color: var(--blue-hover);
	border: var(--blue-hover);
}

.marker1 {
	position: absolute;
	background: var(--green-highlight);
	z-index: 20;
}

.marker2 {
	position: absolute;
	background: var(--yellow-highlight);
	z-index: 20;
}

.marker3 {
	position: absolute;
	background: var(--red-highlight);
	z-index: 20;
}

#simulation-container {
	padding: 2em;
}

.head {
	background-color: var(--blue-emphasis);
}

#step-number {
	width: 4em;
}

#prev,
#next {
	margin-left: 0.75em;
	margin-right: 0.75em;
}

#simulation-controls {
	display: none;
}

.indented-list {
	margin-left: 0.5em;
}

.indented-list-item {
	margin-top: 1.25em;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#config-decision-header,
#simulation-config {
	display: none;
}

button:disabled {
	cursor: not-allowed;
	pointer-events: all !important;
}

#save:hover {
	background-color: var(--blue-hover);
	color: white;
}

#save {
	border: 1px solid #ced4da;
	color: var(--bs-body-color);
}

.small {
	font-variant: small-caps;
}

.tab {
	color: var(--bs-body-color) !important;
}

.head-color {
	background-color: var(--blue-emphasis) !important;
	color: white;
}

.accordion-button:not(.collapsed) {
	color: var(--bs-body-color) !important;
	background-color: white !important;
	box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
}
